{% extends 'layout/base.html'%}
{% block content%}

{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static "css/about.css"%}">
</head>
<body>
    <div class="container">
        <div class ="container1">
            <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus justo eu dolor malesuada, auctor volutpat justo scelerisque. Integer mattis, nunc ut hendrerit feugiat, nisi lorem fermentum justo, in laoreet ipsum magna vel odio.</p>
        <p>Nulla eget libero et ipsum vehicula volutpat ac sit amet urna. Quisque nec est eget lorem consectetur eleifend at in ipsum. Fusce vitae dolor non magna aliquet dictum. Nulla facilisi.</p>
        <p>Etiam tincidunt euismod magna a fermentum. Cras vel velit a libero lobortis eleifend. Integer nec enim non ante luctus mattis id vitae tortor. Nullam a arcu nec arcu pharetra tempor.</p>
        </div>
    </div>
</body>
</html>

{% endblock%}
